<!doctype html>
<html>
<head>
    <title>Neighbor Postings</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body id="indexBody">
<div class="container">

    <div id="index" class="jumbotron text-center">
        <h1>Help Thy Neighbor</h1>
        <img src="https://cardinalatwork.stanford.edu/sites/cardinalatwork/files/styles/caw-banner/public/volunteer_image_0.jpg?itok=Lnsb5bNC" alt="HelpingHands">
        <p>What We Do</p>
        <p>Thy Neighbor is a platform that encourages anyone who is seeking help to post an opportunity that there Neighbor can respond to. If you are just down on your luck and need a helping hand this is the space to express that. We also encourage you to post something you might like to donate using our option to load an image.</p>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
